 body {
      text-align: center;
      background-color: rgb(174, 153, 174);
    }

    .choice-button{
      height: 100px;
      width: 100px;
      border: none;
      margin: 10px;
      background-color: lightgreen;
      border-radius: 50px;
      cursor: pointer;
    }

    .choice-image{
      height: 75px;
    }